@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  background-color: #020617;
  color: #f8fafc;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
